.cardsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  &_buttons {
    display: flex;
    column-gap: 15px;
    .active{
      background-color: cornflowerblue;
    }
    &_item {
      width: 35px;
      height: 35px;
      border: none;

      img {
        width: 100%;
      }
    }
  }
}